html, body {
  background: #e9e9e9;
  font-size: 15px;
}

.body {
  min-height: 100%;
  overflow: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

h1 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 6.103515625em;
  line-height: 9rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 4.8828125em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h3 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 3.90625em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 3.125em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 2.5em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  margin-bottom: 3rem;
  font-family: Montserrat;
  font-size: 2em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: 3rem;
  font-family: Alegreya Sans;
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
}

form {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 4rem;
}

input[type="text"] {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 0.25rem;
  font-size: 1.6em;
  margin: 0.25rem 0;
  padding: 1rem 1.5rem;
  width: 100%;
}

input[type="submit"] {
  background: #000000;
  border: 0;
  border-radius: 0.25rem;
  color: #e9e9e9;
  font-size: 1.6em;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  width: 100%;
}

input[type="submit"]:hover {
  background: #333333;
  cursor: pointer;
  transition: all 0.5s;
}

/* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  /* .row.content {height: 450px} */

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }

@media screen and (max-width: 720px) {
  h1 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 6.103515625em;
    line-height: 9rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  h2 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 4.8828125em;
    line-height: 6rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  h3 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 3.90625em;
    line-height: 6rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  h4 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 3.125em;
    line-height: 6rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  h5 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 2.5em;
    line-height: 3rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  h6 {
    margin-bottom: 3rem;
    font-family: Montserrat;
    font-size: 2em;
    line-height: 3rem;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
  }

  p {
    margin-bottom: 3rem;
    font-family: Lora;
    font-size: 1.6em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.col-lg-10 {
  background: #e9e9e9;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.parallax {
  background-image: url("../images/table_wide.png");
  /* Full height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
}

.parallaxes {
  background-image: url("../images/table_long.png");
  /* Full height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* #die_back {
  position: absolute;
  background-image: url("../images/die.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
} */

#logo_landing {
  height: auto;
  width: 50%;
  /* position: relative; */
  top: -10;
  text-shadow: -1px 2px 3px rgba(150, 150, 150, 1);
}

/* #outer_black {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-height:100%
  display:table-cell;
  height: 100%;
  position: absolute;
  height: 100%;
  overflow: auto;
} */

#info_button {
  position:  relative;
  float: bottom;
  /* left: 10%; */
  /* bottom: 10%; */
}

.img-fluid {
  max-width: 100%;
  height: auto
}

#big-break {
  margin-top: 150px;
}

#col-grid-2 {
  display: grid;

}

#text-block {
  text-align: justify; 
  text-justify: inter-word;
}


.two-column-text {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  text-align: justify; 
  text-justify: inter-word;
}

@media only screen and (max-width: 600px) {
  .layout {
      display: flex;
      padding: 5px;
  }
  .grid-item {
      padding: 20px;
      width: 100%;
  }
  .grid-item-side {
      display: none;
  }
}
@media only screen and (min-width: 599px) {
  .layout {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      padding: 5px;
  }
  .grid-item {
      padding: 20px;
  }
  .grid-item-side {
      padding: 20px;
      text-align: center;
  }
}